h1, h2, h3, h5, p, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*, * ::before, * ::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px;
    font-family: Hero, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header, .intro, .footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px; 
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 24px 100px;*/
    gap: 32px;
}

.left-intro {
    flex: 0 1 auto;
    width: 400px;
    font-family: Hero, sans-serif;
}

.left-intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
   margin-bottom: 8px;
}

.left-intro p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 32px;
}

.top-image {
    width: 400px;
    max-height: 300px;
}

.upper-image {
    flex: 0 1 auto;
    padding: 0px;
}

.info {
    flex: 1;
    font-family: Hero, sans-serif;
}

.players { 
    display: flex;
    justify-content: center;
    gap: 50px;
}


.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.player-image {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 15%;
}

.player {
    text-align: center;
    width: 100px;
}
.quote {
    flex: 1;
}
.call-to-action-container {
    flex: 1;
}

