h1, h3, h5, p, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 120px;
    font-family: Hero, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header, .intro, .footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px; 
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    display: flex;
}

.upper-image {
    max-width: 200px;
    height: auto;
}
