h1, h2, h3, h5, p, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*, * ::before, * ::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 120px;
    font-family: Hero, sans-serif;
    gap: 600px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header, .intro, .footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px; 
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    gap: 200px;
}

.left-intro {
    flex: 0 1 auto;
    width: 400px;
    font-family: Hero, sans-serif;
    
}

.left-intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 28px;
}

.left-intro p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 32px;
}

.top-image {
    width: 400px;
    max-height: 300px;
}

.upper-image {
    flex: 0 1 auto;
    padding: 0px;
}

.info {
    flex: 1;
    padding: 52px;
}

.players { 
    display: flex;
    justify-content: center;
    gap: 64px;
}


.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 36px;
}

.player-image {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    
}

.caylenn {
    order: 4;
}

.nastasya {
    order: 5;
}

.celena .player-image, .oma .player-image, .nastasya .player-image {
    background-color: #3882F6;
}

.player {
    text-align: center;
    width: 125px;
    margin-bottom: 32px;
    font-family: sans-serif;
}
.quote {
    flex: 1;
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.quote div {  
    width: 732px;
}

.text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    font-family: serif;

}

.author {
    text-align: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 32px 64px;
    display: flex;
    align-items: center;
    gap: 150px;
    border-radius: 5px;
}

.call-text {
    color: #F9FAF8;
    padding: 4px;
}

.sign-up-two {
    padding: 4px;
}

.sign-up-two button {
    border: 2px solid #F9FAF8;
}

.left-intro button {
    border: 0;
}

button {
    background-color: #3882F6;  
    border-radius: 5px;
    color: #F9FAF8;
    padding: 4px 20px;
    font-weight: bold;
}

button:hover {
    background-color: #add8e6;
    cursor: pointer;
}

.call-text h5 {
    font-size: 20px;
    font-weight: bold;
    font-style: Arial, sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #F9FAF8;
}

